*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;

  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;

  --shade-100: hsl(225, 100%, 98%);
  --shade-200: hsl(225, 100%, 94%);
  --shade-300: hsl(224, 23%, 55%);
  --shade-400: hsl(223, 47%, 23%);

  --clr-blue: hsl(245, 75%, 52%);
  --clr-hover: hsl(245, 83%, 68%);
}

body {
  background-color: var(--shade-200);
  margin: 0;
}

.card {
  width: 327px;
  min-height: 567px;

  background-color: white;
  border-radius: 1.125em;
}

.card>img {
  width: 100%;
  min-height: 160px;

  border-top-left-radius: 1.125em;
  border-top-right-radius: 1.125em;
}

.card h1 {
  font-size: 1.375rem;
  font-weight: 900;

  text-align: center;

  margin: 1.45em 0 0;
  color: var(--shade-400);
}

.card p {
  font-size: 1rem;
  font-weight: 500;

  text-align: center;
  line-height: 1.5em;

  color: var(--shade-300);
  padding: 0 2em;
  margin: 1em 0;
}

.card>div {
  padding: 0 1.5em;
}

.summary {
  padding: 1em;
  width: 100;
  min-height: 80px;

  background-color: var(--shade-100);
  border-radius:  0.5625em;

  display: flex;
  gap: 1.25em;
  flex-direction: row;

  align-items: center;
}

.summary>span {
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.42em;
}

.summary>span>b {
  color: var(--shade-400);
}

.summary>a {
  color: var(--clr-blue);

  font-size: .8125rem;
  font-weight: 500;
}

.btn {
  width: 100%;
  min-height: 50px;

  border-radius: .625em;
  border: none;

  font-size: 1rem;
  font-weight: 700;
}

.btn--primary {
  background-color: var(--clr-blue);
  color: white;

  margin-top: 1.5em;
}

.btn--secondary {
  background-color: transparent;
  color: var(--shade-300);

  margin-top: 0.5em;
}